.spinner-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  top:0; // mobile-safari fix
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  opacity: .3;
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #000000;
  opacity: .8;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
     -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
     -webkit-transform: rotate(360deg);
  }
}